#%RAML 1.0
title: Digital Delta Eco Extensions - Minimal
version: 0.9
securitySchemes:
  basic:
    type: Basic Authentication
baseUri: https://ddecotest.aquadesk.nl
mediaType: [ application/json ]
documentation:
  - !include Documentation/ChangeHistory.raml
  - !include Documentation/Introduction.raml
  - !include Documentation/AboutEcologicalMeasurements.raml
  - !include Documentation/FilterSyntax.raml
  - !include Documentation/ErrorHandling.raml
  - !include Documentation/Minimal.raml
  - !include Documentation/ToDo.raml

uses: # Minimal types and definitions
  Minimal: Libraries/Minimal.raml

/eco:
  /measurements:
    description:
      Retrieves a list of measurements.
      Filterable fields are &colon;
      <li>organisation (string)</li>
      <li>measurementobject (string)</li>
      <li>measurementpackage (string)</li>
      <li>measurementpurpose (string)</li>
      <li>compartment (string)</li>
      <li>measurementdate (date)</i>
      <li>quantity (string)</li>
      <li>parametertype (string)</li>
      <li>parametergroup (string)</li>
      <li>taxonType (string)</li>
      <li>parameter (string)</li>
      <li>measuredValue (number)</li>
      <li>measuredUnit (string)</li>
      <li>calculatedValue (number)</li>
      <li>calculatedUnit (string)</li>
      <li>collectionDate (Date)</li>
      <li>measurementgeography</li>
      <li>locationgeography</li>
    get:
      is: [ Minimal.pageable, Minimal.filterable ]
      responses:
        200:
          body:
            application/json:
              type: Minimal.MeasurementsListResponse
              example: !include AquaDesk Examples/Measurements.json

        400:
          body:
            application/json:
              type: Minimal.Problem
              example: !include AquaDesk Examples/Problem.json
    /geojson:
      description:
        Retrieves a list of measurements as a GeoJSON FeatureCollection.
        Filterable fields are &colon;
        <li>ogranisation (string)</li>
        <li>measurementobject (string)</li>
        <li>measurementpackage (string)</li>
        <li>measurementpurpose (string)</li>
        <li>compartment (string)</li>
        <li>measurementdate (date)i>
        <li>quantity (string)</li>
        <li>parametertype (string)</li>
        <li>parametergroup (string)</li>
        <li>taxonType (string)</li>
        <li>parameter (string)</li>
        <li>measuredValue (number)</li>
        <li>measuredUnit (string)</li>
        <li>calculatedvalue (number)</li>
        <li>calculatedunit (string)</li>
        <li>collectiondate (Date)</li>
      get:
        is: [ Minimal.pageable, Minimal.filterable ]
        responses:
          200:
            body:
              application/json:
                type: object
                example: !include AquaDesk Examples/MeasurementsGeoJSON.json

          400:
            body:
              application/json:
                type: Minimal.Problem
                example: !include AquaDesk Examples/Problem.json
    /filters:
      get:
        responses:
          200:
            body:
              application/json:
                type: Minimal.Filter[]
                example: !include AquaDesk Examples/Filter.json
